export(
pipe.design,
runShinyPIPE
)

import(
ggplot2,
gtools
)

importFrom("grDevices", "rainbow")
importFrom("stats", "pbeta", "rbinom")
importFrom("xtable","xtable")
importFrom("grDevices", "dev.new")
importFrom("graphics", "barplot", "box", "lines", "mtext", "par",
              "plot", "polygon", "segments", "text")
importFrom("stats", "complete.cases", "dbeta", "median", "qbeta","runif") 


S3method(plot,pipe)
S3method(plot,pipe.sim)
S3method(print,pipe)
S3method(print,pipe.sim)
